<h1 class="h1">Upload audio file</h1><br>

    <input type="text" ng-model="sendAudio.nameAudio" placeholder="Audio name"><br>
    <input type="text" ng-model="sendAudio.artist" placeholder="Artist"><br>
    <input type="text" ng-model="sendAudio.album" placeholder="Album"><br>
    Private <input type="checkbox" name="access" value="private" ng-model="sendAudio.access"><br>
<form id="audio-upload" action="{{'/rest/file/uploadAudio?nameAudio=' + sendAudio.nameAudio + '&artist=' + sendAudio.artist + '&album=' + sendAudio.album + '&access=' + sendAudio.access }}" method="POST" enctype="multipart/form-data">
    <input accept="audio/*" type="file" ng-model="sendAudio.audioFile" name="audioFile"><br>
    <input type="submit"/>
</form>

<!--<script>-->
    <!--$("#audio-upload").submit(function() {-->


        <!--$(this).ajaxSubmit({-->
            <!--success: function(d) {-->
                <!--alert("Залили!");-->
                <!--console.log(d);-->
            <!--},-->
            <!--error: function(d) {-->
                <!--console.log(d);-->
                <!--alert("Ошибка! Печаль, беда");-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->

<script>
    $("#audio-upload").ajaxForm({
        success: function (d) {
            alert("Залили!");
            console.log(d);
        },
        error: function (d) {
            console.log(d);
            alert("Ошибка! Печаль, беда");
        }
    });
</script>