<h1 class="h1">Edit audio file</h1>
<form id="audio-edit" action="{{'/rest/file/edit?idfile=' + song.id}}" method="POST"><br>
    title<br>
    <input type="text" name="title" placeholder="title" value="{{song.name}}"><br>
    album<br>
    <input type="text" name="album" placeholder="album" value="{{song.album}}"><br>
    artist<br>
    <input type="text" name="artist" placeholder="artist" value="{{song.artist}}"><br>
    genre<br>
    <input type="text" name="genre" placeholder="genre" value="{{song.genre}}"><br>
    year<br>
    <input type="text" name="year" placeholder="year" value="{{song.year}}"><br>
    price<br>
    <input type="text" name="price" placeholder="price" value="{{song.price}}"><br>
    Private <input type="checkbox" name="access" value="private"><br>
    comment<br>
    <textarea name="comment" cols="30" rows="10">
        {{song.comment}}
    </textarea><br>
    <input type="submit"/>
</form>


<script>
    $("#audio-edit").ajaxForm({
        success: function(d) {
            alert("Информация обновлена!");
            console.log(d);
        },
        error: function(d) {
            console.log(d);
            alert("Ошибка! Печаль, беда");
        }
    });
</script>

<div class="button" ng-click="audioDelete(song)">DELETE</div>

<br>

<form id="upload-image-audio" action="{{'/rest/file/uploadImage?idA=' + song.id}}" method="POST">
    <h2 class="h2">Change audio image</h2>
    <img width="50" height="50" ng-src="{{song.linkImage}}" alt=""/><br>
    <input type="file" name="image"><br>
    <input type="submit"/>
</form>


<script>
    $("#upload-image-audio").ajaxForm({
        success: function(d) {
            alert("Информация обновлена!");
            console.log(d);
        },
        error: function(d) {
            console.log(d);
            alert("Ошибка! Печаль, беда");
        }
    });
</script>