<h1 class="h1">Play and buy good music</h1>
<ul class="sort">sort by
    <li><a href="/">DATE</a></li>
    <li><a href="/#/audio/getfree">FREE</a></li>
    <li><a href="/#/audio/getbyrate">Rating</a></li>
</ul>

<div id="content-music">
    <div ng-repeat="music in songs" ng-animate="{enter: 'animate-enter'}" class="music clearfix repeat-item">
        <div class="img" ng-click="play(music);"><img ng-src="{{music.linkImage}}" height="152" width="152" alt=""></div>
        <div class="right">
            <div class="h3">
                <a href="#/song/{{music.id}}"> <span>{{music.artist}}</span> - {{music.name}}</a>
            </div>
            <div><i class="heart"></i> {{music.countLike}} Likes</div>
            <div ng-show="music.buy">{{music.price}}$</div>
            <div class="button" ng-show="logined && (music.buy)" ng-click="buy(music);">BUY</div>
            <div class="button" ng-show="logined && music.edit" ng-click="audioEdit(music)">Edit</div>
            <img class="freq" src="img/freq.png" height="45" width="317" alt="">
            <!--<div class="button">share</div>-->
            <div class="button" ng-hide="!logined || music.like" ng-click="like(music);"><i class="heart"></i>like</div>
        </div>
    </div>
</div>

<div class="button" style="width:100%" ng-click="loadMore();">See more music</div>