<h1 class="h1">Edit audio file</h1>
<form id="audio-edit" action="{{'/rest/private/edit?idfile=' + song.id}}" method="POST"><br>
    title<br>
    <input type="text" name="title" placeholder="title" value="{{song.name}}"><br>
    album<br>
    <input type="text" name="album" placeholder="album" value="{{song.album}}"><br>
    artist<br>
    <input type="text" name="artist" placeholder="artist" value="{{song.artist}}"><br>
    Private <input type="checkbox" name="access" value="private" checked><br>
    <input type="submit"/>
</form>


<script>
    $("#audio-edit").ajaxForm({
        success: function(d) {
            alertify.alert("Information was updated!");
            console.log(d);
        },
        error: function(d) {
            console.log(d);
            alertify.error("Error.");
        }
    });
</script>

<div class="button" ng-click="audioDelete(song)">DELETE</div>
