<form id="user-edit-form" action="/rest/useredit/edit" method="POST">
   Name: <input type="text" name="name" value="{{user.name}}"><br>
   <!--E-mail: <input type="email" name="email" value="{{user.email}}"><br>-->
   Information:<br> <textarea name="information" cols="30" rows="10">{{user.information}}</textarea><br>
    <input type="submit" value="Update information">
</form>

<script>
    $("#user-edit-form").ajaxForm({
        success: function(d) {
            alertify.alert("Информация обновлена!");
            console.log(d);
        },
        error: function(d) {
            console.log(d);
            alertify.alert("Ошибка! Печаль, беда");
        }
    });
</script>


<form action="/rest/useredit/image" method="POST" id="image-edit"><br>
    <h1 class="h1">Edit your userpic:</h1>
    <input accept="image/jpeg" type="file" name="image"><br>
    <input type="submit"/>
</form>

<script>
    $("#image-edit").ajaxForm({
        success: function(d) {
            alertify.alert("Картинка обновлена!");
            console.log(d);
        },
        error: function(d) {
            console.log(d);
            alertify.alert("Ошибка! Печаль, беда");
        }
    });
</script>