<h1 class="h1">Sign in</h1>
<form action="/rest/Login" method="POST" id="login-form">
    <input placeholder="Login" type="text" name="login"><br>
    <input placeholder="Password" type="password" name="password"><br>
    <input type="submit" value="Sign In" class="button">
</form>

<form id="forgot-pass" action="/rest/password/forgot">
    <h2 class="h2">Input E-Mail for recover password</h2>
    <input type="email" name="email" placeholder="E-mail"><br>
    <input class="button" type="submit"/>
</form>

<script>
    $("#forgot-pass").ajaxForm({
        statusCode:  {
            200: function() {
                alertify.success("Check your e-mail!");
                console.log("success", d);
            }
        }/*,
        success: function(d) {
            alertify.success("Check your e-mail!");
            console.log("success", d);
        },
        error: function(d) {
            console.log("error", d);
            alertify.error("Unknown e-mail!");
        }*/
    });
</script>


<script>
    $("#login-form").ajaxForm({
        success: function(d) {
            console.log(d);
            if(d == false) {
                alertify.error("Your password or login is incorrect.");
            } else {
                var scope = angular.element($("#login-form")).scope();
                console.log(scope);
                scope.login();
            }
        },
        statusCode: {
            400: function() {
                alertify.error("Your are already sign in.");
            }
        }
    });
</script>
