<h1 class="h1">Sign in</h1>
<form action="/rest/Login" method="POST" id="login-form">
    <input type="text" name="login"><br>
    <input type="password" name="password"><br>
    <input type="submit" value="Sign In" class="button">
</form>

<form action="/rest/password/forgot">
    <h2 class="h2">Input E-Mail for recover password</h2>
    <input type="email" name="email" placeholder="E-mail"><br>
    <input class="button" type="submit" ng-click="login();"/>
</form>

<script>
    $("#login-form").ajaxForm({
        success: function(d) {
            console.log(d);
            if(d == false) {
                alert("Данные не верны!");
            } else {
                window.location.replace("/");
            }
        },
        error: function(d) {
            console.log(d);
            alert("Ошибка, данные не верны!");
        }
    });
</script>
