<div class="music clearfix" >
    <h2><span>{{song.artist}}</span> - {{song.name}}</h2>
    <div class="img" ng-click="play(song)"><img ng-src="{{song.linkImage}}" height="152" width="152" alt=""></div>
    <div class="right">
        <ul>
            <li>Name: {{song.name}}</li>
            <li>Artist: {{song.artist}}</li>
            <li>Album: {{song.album}}</li>
            <li>Genre: {{song.genre}}</li>
            <li>Comment: {{song.comment}}</li>
            <li>Price: {{song.price}}$</li>
            <li>Uploaded: {{song.upload_date}}</li>
            <li>
                Юзер который залил:
                <a href="{{'/#/profile/user/' + user.login}}">
                    <img width="20" height="20" ng-src="{{user.linkAvatar}}" alt=""/>
                    {{user.login}}
                </a>
            </li>
        </ul>
        <div class="button" ng-show="logined && (song.buy)" ng-click="buy(song);">BUY</div>
        <div class="button" ng-show="logined && song.edit" ng-click="edit(song)">Edit</div>
        <br>

        <form ng-init="ext = 'mp3'" ng-show="logined && (!song.buy || song.edit)" action="/rest/get/audio">
            <select name="ext" ng-model="ext">
                <option value="wav">wav</option>
                <option ng-selected="true" value="mp3">mp3</option>
                <option value="ogg">ogg</option>
            </select>
            <input type="hidden" name="id" value="{{song.id}}">
            <input class="button" type="submit" value="DOWNLOAD">
        </form>
        </div>


        <!--<canvas id="audio-visual" width="512" height="300">-->
        <!--Обнови браузер, старик!-->
    <!--</canvas>-->
</div>


<h1 class="h1">Comments</h1>
<div ng-show="logined" style="padding: 15px 0">
    <form action="/rest/comment/put" method="post" id="put-comment">
        <input type="hidden" name="audio" value="{{song.id}}">
        <textarea placeholder="Write a comment ..." name="comment" rows="3"></textarea><br>
        <input class="button" type="submit"/>
    </form>
</div>

<script>
    $("#put-comment").ajaxForm({
        success: function(d) {
            console.log(d);
            var scope = angular.element("#put-comment").scope();
            scope.comments.unshift(d.commentsDTO);
        },
        error: function(d) {
            console.log(d);
            alertify.error("Unknown Error!");
        }
    });
</script>

<div class="comments">
    <div class="comment clearfix repeat-item" ng-repeat="comment in comments" >
        <div class="login"><a href="{{'/#/profile/user/' + comment.login}}">
            <img ng-src="{{comment.linkAvatar}}" alt=""/>{{comment.login}}
        </a>
        </div>
        <div ng-show="(myInfo.access == 2)" ng-click="deleteComment(comment)" class="button" style="float: right">DELETE</div>
        {{comment.comment}}
    </div>
</div>