<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--<property name="connection.url">jdbc:mysql://nvs50.mirohost.net/dakakpopalo</property>-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.username">u_kakpopaplo</property>-->
        <!--<property name="connection.password">grimerpass117</property>-->

        <property name="connection.url">jdbc:mysql://localhost:3306/audio</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">zkycewuf</property>

        <!--<property name="connection.url">jdbc:mysql://nvs50.mirohost.net/audiostorage</property>-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.username">u_grimer</property>-->
        <!--<property name="connection.password">grimerpass117</property>-->

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <property name="connection.pool_size">20</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="show_sql">true</property>
    	<property name="hbm2ddl.auto">update</property>
        <!--<property name="hbm2ddl.auto">create</property>-->
        <property name="hibernate.connection.autocommit">false</property>
    	<property name="current_session_context_class">thread</property>

        <mapping class="Entity.AudioEntity"/>
        <mapping class="Entity.UserEntity"/>
        <mapping class="Entity.SessionEntity"/>
        <mapping class="Entity.LikeEntity"/>
        <mapping class="Entity.BannedEntity"/>
        <mapping class="Entity.PrivateEntity"/>
        <mapping class="Entity.RestoreEntity"/>


    </session-factory>
</hibernate-configuration>